body {
	background: #F5F5F5;
	font-family: Helvetica;
}
.head {
	position:fixed;
	top:0;
	height:0px;
	background:#F5F5F5;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 20px;
	z-index:1000;
}
.container {
		border-top:1px solid #d5d5d5;

}
.editor {
	margin-top:100px;
	position: fixed;
}
.question-number {
	font-weight:bold;
}
.answer-field {
	border:1px solid #d5d5d5;
	border-radius:4px;
	height:40px;
	background:#fefefe;
	width:400px;
}
.add-button {
	cursor:pointer;
	width:400px;
	text-align:center;
	font-weight:bold;
	padding:10px;
	color:#395063;
	background:#E1E7EA;
	border-radius:4px;
	border:2px dotted #92b1c1;
	margin:20px 0;
}
.save {
	cursor:pointer;
	width:400px;
	text-align:center;
	font-weight:bold;
	padding:10px;
	color:#395063;
	background:#E1E7EA;
	border-radius:4px;
	border:2px solid #92b1c1;
	margin-top:40px;	
}

.horizontal-line {	
	position: absolute;
	/*left: 0;*/
	/*top:180px;*/
	width:50px;
	height:2px;
	background: repeating-linear-gradient(90deg, #F5F5F5, #F5F5F5 2px, #2C3D4A 0px, #2C3D4A 6px)!important;
}

.hl1 {
	width: 35px;
	z-index:100;
}

.hl2 {
	left: 55px;
	width: 20px;
	z-index:100;
}

.hl3 {
	/*position: relative;*/
	background: #2c3d4a;
	/*border: 4px solid #2c3d4a;*/
}

.hl1, .hl3 {
	left: 40px;
}

.hl3:after, .hl3:before {
	left: 90%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hl3:after {
	border-color: rgba(44, 61, 74, 0);
	border-left-color: #2c3d4a;
	border-width: 8px;
	margin-top: -8px;
}
.hl3:before {
	border-color: rgba(44, 61, 74, 0);
	border-left-color: #2c3d4a;
	/*border-width: 36px;
	margin-top: -36px;*/
}

.vertical-line {	
	position: absolute;
	/*left: 0;*/
	/*top:180px;*/
	/*width:100px;*/
	/*height:100px;*/
	min-width:2px;
	background: repeating-linear-gradient(180deg, #F5F5F5, #F5F5F5 2px, #2C3D4A 0px, #2C3D4A 6px)!important;
}

.v1 {
	left: 40px;
}

.v2 {
	left: 55px;
}

.stream {
	position:relative;
	margin-top:120px;
}
.question {
	/*height:80px;*/
	float:right;
	cursor:pointer;
	padding: .5em 1em;
	background: #FFF;
	border:1px solid #BBB;
	border-radius:4px;	
	margin-top: .5em;
	opacity:0.3;
}
.question:hover {
	/*opacity:0.8;*/
}

.conclusion {
	color:#FFF;
	cursor:pointer;
	padding: .5em 1em;
	background: #2C3D4A;
	border:1px solid #BBB;
	border-radius:4px;	
	margin-top: .5em;
	/*opacity:0.3;*/
}

.current_question {
	opacity:1!important;
	left:-20px;
}


.answer-wrap {
	padding:.25em 0 .25em 0;
}

.answer-tag {
	position:relative;
	display:inline-block;
	text-align:center;
	font-size:12px;
	/*margin-left:-25px;*/
	/*width: 15%;			*/
	color:#FFF;
	background:#2C3D4A;
	padding:.25em .25em;
	/*-webkit-filter:drop-shadow(1px 1px 1px black);*/
}
.answer {
	display: inline-block;
	font-weight: bold;
}
.active {
	position:relative;
	display:inline-block;
	text-align:center;
	font-size:12px;
	/*margin-left:-25px;*/
	/*width: 15%;			*/
	color:#FFF;
	/*background:#2C3D4A;*/
	padding:.25em .25em;
	/*-webkit-filter:drop-shadow(1px 1px 1px black);*/
}
.transit_text {
	font-style: italic;
	color:grey;
}